.divDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
}

.imgDetail {
    margin-right: 1rem;
    width: 30rem;
}

.pDescripcionDetail {
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
}

.precioDetail {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}


.divButtonsDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonSeguirCompra {
    margin-bottom: 1rem;
    width: 8rem;
}

.buttonTerminarCompra {
    width: 8rem;
}

