body {
    font-family:sans-serif;
    background-color: #844E5F;
}
.logo {
    width: 10rem;
    margin-left: 2rem;
}



.navbar-light .navbar-nav .nav-link {
    color: #844E5F;
    margin: 0 2rem;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #844E5F;}

    .NavBar {
        color: #844E5F;
        margin: 0 1.5rem;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

        nav{
            display: flex;
            } 
        h3{
            margin-top: 20px;
            margin-left: 50px;
        }
        ul{
            margin-left: 20px;
            display: flex;
            margin-right:100px;
        
            
        }
        li{
            list-style: none;
            padding: 30px;
            
        }

        .cartNavBar {
            margin-right: 1rem;
            display: flex;
            flex-direction: row;
        }
        
        .globoItems {
            font-size: 1rem;
            margin-left: 0.3rem;
        }
