body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2E1C4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
  text-align: center;
}

.Navbar {
  color: #844E5F;
  display: inline-block;
  margin: 0 1.5rem;
  position: relative;
  font-size: 1rem;
}

.Titulo {
  color: #9E5D72;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
